<?php 
	include 'control/capturaCurso.class.php';
	$cursos = new cursoControl() 
?>
<div class="container">
	<div class="row">
		<div class="col-12">
			<img src="./dist/img/graduation-hat.png" class="img-thumbnail img-responsive float-left border-0 imgHeaderTitle" style="width: 140px;">
			<h2 class="text-center mt-5 text-secondary titleBordered title">Cursos</h2>
		</div>
	</div>

	<hr>

	<ul class="nav nav-pills mt-3" id="pills-tab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Cadastro</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Associação</a>
		</li>
		
	</ul>
	<div class="tab-content" id="pills-tabContent">
		<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
			<div class="row">
				<div class="col-12 p-4">
					<h2 class="text-center text-secondary mb-5 titleBordered title">Cadastro de Cursos</h2>

					<form class="form-cadastra-curso" action="#">
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="cursos_nome_curso">Curso</label>
								<input type="text" class="form-control" id="cursos_nome_curso" name="cursos_nome_curso" placeholder="Informática" required>
							</div>
							<div class="form-group col-md-6">
								<label for="cursos_duracao_curso">Duração</label>
								<select class="form-control" id="cursos_duracao_curso" name="cursos_duracao_curso" required>
									<option>Selecione...</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
								</select>
							</div>

						</div>

						<div class="buttons text-center mt-2">
							<button type="submit" class="btn btn-secondary">Cadastrar</button>
							<button type="submit" class="btn btn-danger">Cancelar</button>
						</div>

					</form>		

					<h2 class="text-center mt-4 mb-4 text-secondary titleBordered title">Cursos Cadastrados</h2>
					<div class="table-responsive ">
						<table class="table table-striped border text-center">
							<thead>
								<th>#</th>
								<th>Curso</th>
								<th>Duração</th>
								<th>Ações</th>
							</thead>
							<tbody>
								<?php $cursos->capturaDados(); ?>
							</tbody>
						</table>
					</div>
				</div>
			</div>	
			
		</div>
		<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
			<div class="row">
				<div class="col-12 p-4">
					<h2 class="text-center text-secondary titleBordered title mb-5">Associação de Cursos</h2>

					<form>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="associacao_nome_curso">Curso</label>
								<select class="form-control" id="associacao_nome_curso" name="associacao_nome_curso" required>
									<option>Selecione...</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label for="associacao_periodo_curso">Período</label>
								<select class="form-control" id="associacao_periodo_curso" name="associacao_periodo_curso" required>
									<option>Selecione...</option>
								</select>
							</div>

						</div>

						<div class="buttons text-center mt-2">
							<button type="submit" class="btn btn-secondary">Cadastrar</button>
							<button type="submit" class="btn btn-danger">Cancelar</button>
						</div>

					</form>		

					<h2 class="text-center text-secondary titleBordered title mt-4 mb-4 ">Cursos Associados</h2>
					<div class="table-responsive ">
						<table class="table table-striped border text-center">
							<thead>
								<th>#</th>
								<th>Curso</th>
								<th>Período</th>
								<th>Ações</th>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Informática para Internet</td>
									<td>Noturno</td>
									<td><button class="btn btn-secondary">Alterar</button></td>
								</tr>
								<tr>
									<td>2</td>
									<td>Logística</td>
									<td>Diúrno</td>
									<td><button class="btn btn-secondary">Alterar</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
	</div>





</div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="dist/js/jquery.blockUI.js"></script>
<script src="dist/js/ajaxLoading.js"></script>
<script src="control/script/cadastraCurso.js"></script>
<!-- Container -->






