<?php 
include 'control/capturaCurso.class.php';
$cursos = new cursoControl();


?>
<div class="container">
	<div class="row">
		<div class="col-12">
			<img src="./dist/img/graduation-hat.png" class="img-thumbnail img-responsive float-left border-0 imgHeaderTitle" style="width: 140px;">
			<h2 class="text-center mt-5 titleBordered title">Cursos</h2>
		</div>
	</div>

	<hr>

	<ul class="nav nav-pills mt-3" id="pills-tab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Cadastro</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Associação</a>
		</li>
		
	</ul>
	<div class="tab-content" id="pills-tabContent">
		<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
			<div class="row">
				<div class="col-12 p-4">
					<h2 class="text-center text-secondary mb-5 titleBordered subTitle">Cadastro de Cursos</h2>

					<form class="form-cadastra-curso" action="#">

						<input type="hidden" name="cursos_id_curso" id="cursos_id_curso">

						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="cursos_nome_curso">Curso</label>
								<input type="text" class="form-control" id="cursos_nome_curso" name="cursos_nome_curso" placeholder="Informática" required>
							</div>
							<div class="form-group col-md-6">
								<label for="cursos_duracao_curso">Duração em Semestres</label>
								<select class="form-control" id="cursos_duracao_curso" name="cursos_duracao_curso" required>
									<option value="">Selecione...</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>

								</select>
							</div>

						</div>

						<div class="buttons text-center mt-2">
							<button type="submit" id="btnCurso" class="btn btn-secondary">Cadastrar</button>
							<button type="submit" class="btn btn-danger">Cancelar</button>
						</div>

					</form>		

					<h2 class="text-center mt-4 mb-4 text-secondary titleBordered subTitle">Cursos Cadastrados</h2>
					<div class="table-responsive ">
						<table class="table table-striped border text-center">
							<thead>
								<th>#</th>
								<th>Curso</th>
								<th>Duração</th>
								<th>Ações</th>
							</thead>
							<tbody>
								<?php $cursos->capturaDados(); ?>
							</tbody>
						</table>
					</div>
				</div>
			</div>	
			
		</div>
		<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
			<div class="row">
				<div class="col-12 p-4">
					<h2 class="text-center text-secondary titleBordered subTitle mb-5">Associação de Cursos</h2>

					<form class="form-associa-curso" action="#">

						<input type="hidden" name="associacao_id_curso" id="associacao_id_curso">

						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="associacao_nome_curso">Curso</label>
								<select class="form-control" id="associacao_nome_curso" name="associacao_nome_curso" required>
									<option value="">Selecione...</option>
									<?php $cursos->listaCursosComboBox(); ?>

								</select>
							</div>
							<div class="form-group col-md-6">
								<label for="associacao_periodo_curso">Período</label>
								<select class="form-control" id="associacao_periodo_curso" name="associacao_periodo_curso" required>
									<option value="">Selecione...</option>
									<option value="Matutino">Matutino</option>
									<option value="Vespertino">Vespertino</option>
									<option value="Noturno">Noturno</option>
									<option value="Integral">Integral</option>


								</select>
							</div>

						</div>

						<div class="buttons text-center mt-2">
							<button type="submit" class="btn btn-secondary">Cadastrar</button>
							<button type="submit" class="btn btn-danger">Cancelar</button>
						</div>

					</form>		

					<h2 class="text-center text-secondary titleBordered subTitle mt-5 mb-4 ">Cursos Associados</h2>
					<div class="table-responsive ">
						<table class="table table-striped border text-center">
							<thead>
								<th>#</th>
								<th>Curso</th>
								<th>Período</th>
								<th>Ações</th>
							</thead>
							<tbody>
								<?php $cursos->capturaDadosEtec(); ?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
	</div>


</div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="dist/js/jquery.blockUI.js"></script>
<script src="dist/js/ajaxLoading.js"></script>
<script src="control/script/cadastraCurso.js"></script>
<!-- Container -->




<!-- Modal -->
<div class="modal fade" id="fuckaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Desassociação de Cursos</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Tem certeza que quer desassociar o curso?
			</div>
			<div class="modal-footer">
				<input type="hidden" name="idExclusao" id="idExclusao">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" id="desassociar">Desassociar</button>
			</div>
		</div>
	</div>
</div>


<script>
	$(".alteraCurso").click(function(){


		$("#cursos_id_curso").val($(".curso"+this.id)[0].innerHTML);

		$("#cursos_nome_curso").val($(".curso"+this.id)[1].innerHTML);
		$("#cursos_duracao_curso").val($(".curso"+this.id)[2].innerHTML);
		
		$("#btnCurso").text("Alterar");

	});

	function modalExcluir(id){
		$("#idExclusao").val(id);
		$("#fuckaModal").modal();
	}


	$("#desassociar").click(function(){
		carregando();
		$("#fuckaModal").hide();

		var idCurso = $("#idExclusao").val();

		$.ajax({url: "./control/dessassociaCurso.class.php?idCurso="+idCurso, success: function(result){

			if(result == 'true'){
				parar();
				swal({
					title: "Exclusão de Associação",
					text: "Dessassociação realizada com sucesso!",
					icon: "success",
				});
				setTimeout(function(){
					window.location.reload();

				}, 2000)

			}

			else{
				parar();
				swal({
					title: "Exclusão de Associação",
					text: "Erro ao dessassociar curso!",
					icon: "error",
				});
			}

		}});


	});




</script>





