<?php
    include 'control/capturaDesafios.class.php';
	$desafio = new desafioControl();
?>
<div class="container">
	<div class="row">
		<div class="col-12">
			<img src="./dist/img/trophy.png" class="img-thumbnail img-responsive float-left border-0 imgHeaderTitle" style="width: 140px;">
			<h2 class="text-center titleBordered title">Desafios</h2>
		</div>
	</div>

	<hr>
		<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
			<div class="row">
				<div class="col-12 p-4">
					<h2 class="text-center text-secondary mb-5 titleBordered subTitle">Cadastro de Desafios</h2>

					<form class="form-desafio">

					<input type="hidden" name="idDesafio" id="desafio_id">


						<div class="form-row">
							<div class="form-group col-md-8">
								<label for="desafio_tema">Tema</label>
								<input type="text" class="form-control" id="desafio_tema" name="desafio_tema" placeholder="Combate ao preconceito" required>
							</div>
							
							<div class="form-group col-md-4">
								<label for="desafio_dataFinalizacao">Data de Finalização</label>
								<input type="date" class="form-control" id="desafio_dataFinalizacao" name="desafio_dataFinalizacao" required>
							</div>

						</div>
						<div class="form-row">

							<div class="form-group col-md-12">
								<label for="desafio_descricao">Descrição</label>
								<textarea class="form-control" name="desafio_descricao" id="desafio_descricao" placeholder="Elaborar uma forma de como combater o preconceito e quais são os impactos positivos que isso irá provér para a sociedade." required></textarea>
							</div>
						</div>

						<div class="buttons text-center mt-2">
							<button type="submit" id="btnDesafio" class="btn btn-secondary">Cadastrar</button>
							<button type="submit" class="btn btn-danger">Cancelar</button>
						</div>

					</form>		

					<h2 class="text-center mt-4 mb-4 text-secondary titleBordered subTitle">Desafios</h2>
					<div class="table-responsive ">
						<table class="table table-striped border text-center">
							<thead>
								<th>ID</th>
								<th>Desafio</th>
								<th>Data de Entrega</th>
								<th>Vencedor</th>
								<th>Ações</th>
								<th style="display:none !important;">item</th>
								<th style="display:none !important;">item</th>
							</thead>
							<tbody>
								<?php $desafio->capturaDados()?>
							</tbody>
						</table>
					</div>
				</div>
			</div>	
			
		</div>


</div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="dist/js/jquery.blockUI.js"></script>
<script src="dist/js/ajaxLoading.js"></script>
<script src="control/script/desafio.js"></script>


<script>
	$(".alteraDesafio").click(function(){

		// desafio
		$("#desafio_id").val($(".desafio"+this.id)[0].innerHTML);
		$("#desafio_tema").val($(".desafio"+this.id)[1].innerHTML);
		$("#desafio_dataFinalizacao").val($(".desafio"+this.id)[2].innerHTML);
		$("#desafio_descricao").val($(".desafio"+this.id)[4].innerHTML);

		$("#btnDesafio").text("Alterar");

	});

</script>



<!-- Container -->






