	<div class="container">
		
		<div class="col-12">
			<img src="./dist/img/logo.png" class="img-thumbnail img-responsive float-left" style="width: 140px;">
			<h2 class="text-center mt-5">Grupo {Nome}</h2>
			<h4 class="text-center mt-5">Etec {Nome}</h4>
		</div>

		<table class="table table-striped mb-5">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Perfil</th>
					<td>#</td>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>1</td>
					<td>Alex Santos</td>
					<td>Aluno</td>
					<td><a class="btn btn-secondary" href="?page=cadastro_pessoa">Detalhar</a></td>
				</tr>
			</tbody>
		</table>	

		<h3 class="text-center m-auto mt-5 border">Desafios Participados:</h3>

		
	</div>
	<script type="text/javascript" src="control/script/verificaEtec.js"></script>
	<!-- Container -->

	<script src="dist/js/jquery.mask.js"></script>
	<script src="dist/js/mascaras.js"></script>




