	<div class="container">
		
		<div class="col-12 mb-5">
			<img src="./dist/img/groupDetails.png" class="img-thumbnail img-responsive float-left border-0" style="width: 140px;">
			<h2 class="text-center pt-4 text-secondary titleBordered">Grupo {Nome}</h2>
			<h4 class="text-center mb-5 text-secondary titleBordered">Etec {Nome}</h4>
		</div>

		<table class="table table-striped border text-center mb-5">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Perfil</th>
					<td>#</td>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>1</td>
					<td>Alex Santos</td>
					<td>Aluno</td>
					<td><a class="btn btn-secondary" href="?page=cadastro_pessoa">Detalhar</a></td>
				</tr>
			</tbody>
		</table>	

		<div class="col-12 mb-5">
			<img src="./dist/img/trophy.png" class="img-thumbnail img-responsive float-left border-0" style="width: 140px;">
			<h2 class="text-center pt-5 pb-5 text-secondary titleBordered">Desafios Participados</h2>
		</div>

		<div class="desafios col-md-12 pt-3">
			<div class="row">
				<div class="desafio col-md-2  m-auto d-flex align-items-center">
					<h4 class="text-center text-white titleBordered d-block w-100"><a href="">Nome do Desafio</a></h4>
				</div>

				<div class="desafio col-md-2  m-auto d-flex align-items-center">
					<h4 class="text-center text-white titleBordered d-block w-100"><a href="">Nome do Desafio</a></h4>
				</div>

				<div class="desafio col-md-2  m-auto d-flex align-items-center">
					<h4 class="text-center text-white titleBordered d-block w-100"><a href="">Nome do Desafio</a></h4>
				</div>

				<div class="desafio col-md-2  m-auto d-flex align-items-center">
					<h4 class="text-center text-white titleBordered d-block w-100"><a href="">Nome do Desafio</a></h4>
				</div>




			</div>
		</div>

		
	</div>
	<script type="text/javascript" src="control/script/verificaEtec.js"></script>
	<!-- Container -->

	<script src="dist/js/jquery.mask.js"></script>
	<script src="dist/js/mascaras.js"></script>




