	<?php include("control/grupo.class.php");

	?>
	<div class="container">
		
		<div class="row">
			<div class="col-12">
				<img src="./dist/img/groupDetails.png" class="img-thumbnail img-responsive float-left border-0 imgHeaderTitle" style="width: 140px;">
				<h2 class="text-center pt-4  titleBordered title desafiosTitle"><?php $grupo->capturaDados('GRUPO_NOME') ?></h2>
				<h4 class="text-center mb-5  titleBordered title "><?php $grupo->capturaDados('ETEC_NOME') ?></h4>
			</div>
		</div>
		<hr>

		<div class="table-responsive mt-4">
			<h3 class="text-center text-secondary mb-4">Integrantes</h3>
			<table class="table table-striped border text-center mb-5">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nome</th>
						<th>Perfil</th>
						<td>#</td>
					</tr>
				</thead>

				<tbody>
					<?php $grupo->listaIntegrantes($_GET['id']); ?>
				</tbody>
			</table>	
		</div>

		<div class="card col-12 pt-3 mt-4">

			<div class="col-12 mb-5">
				<img src="./dist/img/trophy.png" class="img-thumbnail img-responsive float-left border-0" style="width: 140px;">
				<h2 class="text-center pt-5 pb-5 text-secondary titleBordered title desafiosTitle">Desafios Participados</h2>
			</div>

			<div class="desafios col-md-12 pt-2">
				<div class="row">
					<?php $grupo->listaDesafios($_GET['id']); ?>
				</div>
			</div>

		</div>

	</div>
	<script type="text/javascript" src="control/script/verificaEtec.js"></script>
	<!-- Container -->

	<script src="dist/js/jquery.mask.js"></script>
	<script src="dist/js/mascaras.js"></script>




