	
<div class="container">
	<div class="row">
		<div class="col-12 mb-5">
			<img src="./dist/img/group.png" class="img-thumbnail img-responsive float-left border-0" style="width: 140px;">
			<h2 class="text-center mt-5 text-secondary titleBordered title">Grupos Cadastrados</h2>
		</div>
	</div>

	<div class="row">
		<div class="container">
			<div class="table-responsive">
				<table class="table table-striped text-center border">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nome do Grupo</th>
							<th>Etec</th>
							<th>Quantidade de Integrantes</th>
							<td>#</td>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>1</td>
							<td>NotGroup</td>
							<td>Etec Jaraguá</td>
							<td>2</td>
							<td><a class="btn btn-secondary" href="index.php?page=detalhamento_grupo">Detalhar</a></td>
						</tr>
						<tr>
							<td>2</td>
							<td>GroupNot</td>
							<td>Etec Bogasian</td>
							<td>3</td>
							<td><a class="btn btn-secondary" href="index.php?page=detalhamento_grupo">Detalhar</a></td>
						</tr>
					</tbody>
				</table>	
			</div>			
		</div>													
	</div>
</div>
<script type="text/javascript" src="control/script/verificaEtec.js"></script>
<!-- Container -->

<script src="dist/js/jquery.mask.js"></script>
<script src="dist/js/mascaras.js"></script>

