<?php include("control/grupo.class.php"); ?>
<div class="container">
	<div class="row">
		<div class="col-12 mb-5">
			<img src="./dist/img/group.png" class="img-thumbnail img-responsive float-left border-0 imgHeaderTitle" style="width: 140px;">
			<h2 class="text-center mt-5 titleBordered title">Grupos Cadastrados</h2>

		</div>

	</div>
	

	<div class="row">
		<div class="container">
			<div class="table-responsive">
				<table class="table table-striped text-center border">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nome do Grupo</th>
							<th>Etec</th>
							<th>Quantidade de Integrantes</th>
							<th>Ações</th>
						</tr>
					</thead>

					<tbody>
						<?php $grupo->listaGrupos(); ?>
					</tbody>
				</table>	
			</div>			
		</div>													
	</div>
</div>
<script type="text/javascript" src="control/script/verificaEtec.js"></script>
<!-- Container -->

<script src="dist/js/jquery.mask.js"></script>
<script src="dist/js/mascaras.js"></script>

