
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Cidadão do Futuro</title>
	<link rel="stylesheet" href="dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark mb-4">
		<div class="container">
			<a class="navbar-brand" href="#">Cidadão do Futuro</a>
		</div>
	</nav>
	<!--Header  -->
	
	<div class="container">
		<h4 class="text-secondary text-center pt-4">Cadastre-se! Vamos agir por um amanhã melhor!</h4>

		<div class="row">
			
			<div class="col-md-6 d-flex align-items-center">
				<div class="row m-auto">
					<div class="col-12 px-5 py-2 border">
						<h3 class="text-center text-secondary">Acessar</h3>
						<form action="painel.php">

							<div class="form-row">
								<div class="form-group col-md-12">
									<label for="usuario">Usuário / Email</label>
									<input type="name" class="form-control" id="usuario" name="usuario" placeholder="pedrotavares93">
								</div>
								<div class="form-group col-md-12">
									<label for="senha">Senha</label>
									<input type="password" class="form-control" id="senha" name="senha" placeholder="*******">
								</div>
							</div>
							
							<div class="text-center">
								<input type="submit" class="btn btn-secondary px-4 py-2 mb-3" value="Entrar">
							</div>
						</form>

						<div class="text-center">

							<a href="EcadastroEtec.html" class="d-block mb-3">Cadastre-se</a>
							<a href="#" class="d-block mb-3" id="forgotPassword">Esqueci a Senha</a>
						</div>

					</div>

				</div>
			</div>
			<!-- esquerda -->

			<div class="col-6" id="imgIndex">
				<img src="img/logo.png" class="img-thumbnail img-responsive border-0">
			</div>

		</div>

	</div>
	<!-- Container -->





	<!-- Footer -->
	<footer class="footer navbar navbar-expand-lg navbar-dark">
		<div class="container">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="#">Contato</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Privacidade</a>
				</li>
			</ul>
		</div>
	</footer>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.js"></script>



	<div class="modal fade" id="senhaModal" tabindex="-1" role="dialog" aria-labelledby="FprgotPassword" aria-hidden="true">
		<div class="modal-dialog modal-md">
			<div class="modal-content px-3 py-3">
				<div class="modalTitulo">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="">Esqueci a Senha</h4>
				</div>
				<div class="modal-body">
					<p>Digite o email que está cadastrado para recriar a sua senha.</p>
					<form class="">
						<div class="form-group">
							<input type="text" class="form-control" name="emailSenha" placeholder="Email">
						</div>


						<input type="submit" class="btn btn-secondary" value="Enviar">
						
						<label class="returnFormLogCli"></label>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script>
		$("#forgotPassword").click(function(){
			$("#senhaModal").modal();
		});
	</script>

</body>
</html>