
<div class="container">
	<div class="row">
		<div class="col-12">
			<img src="./dist/img/logo.png" class="img-thumbnail img-responsive float-left" style="width: 140px;">
			<h2 class="text-center mt-5">Meus Dados</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-12 border mt-5 p-4 bg-white">
			<form action="#" method="POST" class="aml-form">
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="nomeEtec">Nome ETEC</label>
						<input type="name" class="form-control" id="nomeEtec" name="meusDados_etec_nome" placeholder="Etec Jaraguá" required>
					</div>
					<div class="form-group col-md-4">
						<label for="emailEtec">Email</label>
						<input type="email" class="form-control" id="emailEtec" name="meusDados_etec_email" placeholder="etecjaragua@cps.com.br" required>
					</div>
					<div class="form-group col-md-2">
						<label for="cepEtec">CEP</label>
						<input type="tel" class="form-control" id="cepEtec" name="meusDados_etec_cep" placeholder="01.047-000">
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="enderecoEtec">Endereço</label>
						<input type="text" class="form-control" id="enderecoEtec" name="meusDados_etec_endereco" placeholder="Rua Jabuiutí, n° 104">
					</div>
					<div class="form-group col-md-3">
						<label for="cidadeEtec">Cidade</label>
						<input type="text" class="form-control" id="cidadeEtec" name="meusDados_etec_cidade" placeholder="São Paulo">
					</div>
					<div class="form-group col-md-3">
						<label for="bairroEtec">Bairro</label>
						<input type="text" class="form-control" id="bairroEtec" name="cad_etec_bairro" placeholder="Jaragua">
					</div>
					<div class="form-group col-md-2">
						<label for="ufEtec">UF</label>
						<select class="form-control" id="ufEtec" name="meusDados_etec_uf" >
							<option selected>Selecione...</option>
							<option value="SP">SP</option>
							<option value="AC">AC</option>
							<option value="AL">AL</option>
							<option value="AP">AP</option>
							<option value="AM">AM</option>
							<option value="BA">BA</option>
							<option value="CE">CE</option>
							<option value="DF">DF</option>
							<option value="ES">ES</option>
							<option value="GO">GO</option>
							<option value="MA">MA</option>
							<option value="MT">MT</option>
							<option value="MS">MS</option>
							<option value="MG">MG</option>
							<option value="PA">PA</option>
							<option value="PB">PB</option>
							<option value="PR">PR</option>
							<option value="PE">PE</option>
							<option value="PI">PI</option>
							<option value="RJ">RJ</option>
							<option value="RN">RN</option>
							<option value="RS">RS</option>
							<option value="RO">RO</option>
							<option value="RR">RR</option>
							<option value="SC">SC</option>
							<option value="SE">SE</option>
							<option value="TO">TO</option>	
						</select>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="usuarioEtec">Usuário</label>
						<input type="text" class="form-control" id="usuarioEtec" name="meusDados_etec_usuario" placeholder="etecjaragua" required>
					</div>
					<div class="form-group col-md-4">
						<label for="senhaEtec">Senha</label>
						<input type="password" class="form-control" id="senhaEtec" name="meusDados_etec_senha" placeholder="etecCtps@@201832" required>
					</div>
					<div class="form-group col-md-2">
						<label for="telefoneEtec">Telefone</label>
						<input type="text" class="form-control" id="telefoneEtec" name="meusDados_etec_telefone" placeholder="(11) 4302-2301">
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="diretorEtec">Diretor(a)</label>
						<input type="text" class="form-control" id="diretorEtec" name="meusDados_etec_diretor" placeholder="Maria Fortunato Lopes">
					</div>
					<div class="form-group col-md-6">
						<label for="responsavelEtec">Responsável</label>
						<input type="text" class="form-control" id="responsavelEtec" name="meusDados_etec_responsavel" placeholder="José Luís" required>
					</div>
				</div>
				<div class="buttons text-center mt-2">
					<button type="submit" class="btn btn-secondary">Alterar</button>

				</div>

			</form>		
		</div>																		
	</div>
</div>
<script type="text/javascript" src="control/script/preencheMeusDados.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="dist/js/jquery.blockUI.js"></script>
<script src="dist/js/ajaxLoading.js"></script>
<script type="text/javascript" src="control/script/atualizaEtec.js"></script>




<script src="dist/js/jquery.mask.js"></script>
<script src="dist/js/mascaras.js"></script>


