  <?php include 'control/usuario.class.php';
  $usuario = new usuario(); ?>
  <div class="cover perfil mb-3 ">
        <div class="wrapper">
            <div class="image">
                <img src="dist/img/capa1.jpg" alt="Foto do aluno">
            </div>
        </div>
        <div class="lilas">
            <div class="container ">
                <div class="cover-info">
                    <div class="avatar">
                        <a href="index.php?page=aluno"> <img src="dist/img/avatar.png" alt="people"></a>
                    </div>
                    <div class="nome"><a href="#"><?php echo $usuario->nome ?></a></div>
                    <ul class="cover-nav menuPerfil">
                        <li><a  class="text-preto" href="index.php?page=grupo"><?php echo $usuario->nomeGrupo ?></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 primary mb-4">
                <div class="imgCracha">
                    <img src="dist/img/capaCracha.png" alt="">
                </div>
                <div class="card subir mb-4 testePTColorgray">
                    <div class="card-body paddingCracha">
                        <h4 class="card-title text-center">
                            CRACHÁ
                        </h4>
                        <p class="card-text">Nome: <?php echo $usuario->nome ?></p>
                        <p class="card-text">Etec: <?php echo $usuario->nomeEtec ?></p>
                        <p class="card-text">Grupo: <?php echo $usuario->nomeGrupo ?></p>
                    </div>
                </div>
                <div class="card subir testePTColorgray">
                    <div class="card-body">
                        <h4 class="card-title text-center">
                            DESAFIO
                        </h4>
                        <h6 class="card-text">Etapa 1 <span class="dataEtapas">00/00/0000</span></h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque a quos nisi laborum. Optio, soluta, incidunt. Explicabo qui, rerum, excepturi cumque error quae, aut nam velit dignissimos sed, eos possimus.</p>

                        <h6 class="card-text">Etapa 2 <span class="dataEtapas">00/00/0000</span></h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque a quos nisi laborum. Optio, soluta, incidunt. Explicabo qui, rerum, excepturi cumque error quae, aut nam velit dignissimos sed, eos possimus.</p>

                        <h6 class="card-text">Etapa 3 <span class="dataEtapas">00/00/0000</span></h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque a quos nisi laborum. Optio, soluta, incidunt. Explicabo qui, rerum, excepturi cumque error quae, aut nam velit dignissimos sed, eos possimus.</p>

                        <h6 class="card-text">Etapa 4 <span class="dataEtapas">00/00/0000</span></h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque a quos nisi laborum. Optio, soluta, incidunt. Explicabo qui, rerum, excepturi cumque error quae, aut nam velit dignissimos sed, eos possimus.</p>
                    </div>
                </div>
            </div>
            
            
            
            
             <div class="col-sm-12 col-md-8 primary mb-4">
                <div class="card testePTColorgray">
                    <div class="mensagem">
                        <div class="avatarMensagem">
                            <a href="index.php?page=coordenador"> <img src="dist/img/avatar.png" class="rounded-circle" alt=""></a>
                        </div>
                        <div class="nomeAvatarMensagem">
                            <a href="index.php?page=coordenador">
                                <p class="text-preto">Nome do coordenador <br>compartilhado em 00/00/0000</p>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-text img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio at suscipit id iure in ratione, aliquam, corporis odio fuga rerum dolore facere, labore necessitatibus accusantium voluptatem molestias praesentium temporibus distinctio!
                            </p>
                        </div>
                    </div>
                    <div class="fotoVideoPost">
                        <img src="dist/img/banner1.jpg" alt="">
                    </div>
                    <div class="botaoMensagem cinza-claro2 py-2">
                        <button class="btn btn-primary"><i class="fas fa-thumbs-up"></i></button>
<!--                        <button class="btn btn-primary"><i class="fas fa-share"></i></button>-->
                        <p class="ml-4 mt-1">10 curtidas </p>
                        <p class=" mt-1"> 10 Comentarios</p>
                    </div>
                    <div class="mensagemPost">
                        <div class="avatarMensagem">
                            <a href="index.php?page=aluno"><img src="dist/img/avatar.png" class="rounded-circle" alt=""></a>
                        </div>
                        <div class="nomeAvatarMensagem">
                            <a href="index.php?page=aluno">
                                <p class="text-preto">Nome do aluno <br> Compartilhado em 00/00/0000</p>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-text clear">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident quia tempore minus maiores, modi nihil laudantium? Quidem officia adipisci eligendi, nihil, natus, reprehenderit placeat earum iusto blanditiis eius voluptatem.</p>
                                <p class="responder"> RESPONDER</p>
                                <div class="responderMsg respondaMensagem">
                                    <div class="avatarResponda">
                                        <a href="index.php?page=aluno">
                                        <img src="dist/img/avatar.png" class="rounded-circle" alt="">
                                         </a>
                                    </div>
                                    <div class="respondaMensagemInput">
                                        <input type="text">
                                    </div>
                                    <div class="respondaMensagemBotao">
                                        <button type="submit" class="btn btn-primary">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mensagemPost">
                        <div class="avatarMensagem">
                            <a href="index.php?page=coordenador"><img src="dist/img/avatar.png" class="rounded-circle" alt=""></a>
                        </div>
                        <div class="nomeAvatarMensagem">
                            <a href="index.php?page=coordenador">
                                <p class="text-preto">
                                Nome do coordenador <br> Compartilhado em 00/00/0000
                                </p>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-text clear">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident quia tempore minus maiores, modi nihil laudantium? Quidem officia adipisci eligendi, nihil, natus, reprehenderit placeat earum iusto blanditiis eius voluptatem.</p>
                               <p class="responder"> RESPONDER</p>
                                <div class="responderMsg respondaMensagem">
                                    <div class="avatarResponda">
                                        <a href="index.php?page=aluno">
                                        <img src="dist/img/avatar.png" class="rounded-circle" alt="">
                                         </a>
                                    </div>
                                    <div class="respondaMensagemInput">
                                        <input type="text">
                                    </div>
                                    <div class="respondaMensagemBotao">
                                        <button type="submit" class="btn btn-primary">Enviar</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="mensagemPostResposta">
                        <div class="avatarMensagem">
                            <a href="index.php?page=aluno"><img src="dist/img/avatar.png" class="rounded-circle" alt=""></a>
                        </div>
                        <div class="nomeAvatarMensagemResposta">
                            <a href="index.php?page=aluno">
                                <p class="text-preto">Nome do aluno <br> Compartilhado em 00/00/0000

                                </p>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-text clear">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident quia tempore minus maiores, modi nihil laudantium? Quidem officia adipisci eligendi, nihil, natus, reprehenderit placeat earum iusto blanditiis eius voluptatem.</p>
                                <p class="responder"> RESPONDER</p>
                                <div class="responderMsg respondaMensagem">
                                    <div class="avatarResponda">
                                        <a href="index.php?page=aluno">
                                        <img src="dist/img/avatar.png" class="rounded-circle" alt="">
                                         </a>
                                    </div>
                                    <div class="respondaMensagemInput">
                                        <input type="text">
                                    </div>
                                    <div class="respondaMensagemBotao">
                                        <button type="submit" class="btn btn-primary">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="respondaMensagem">
                        <div class="avatarResponda">
                            <a href="index.php?page=aluno">
                            <img src="dist/img/avatar.png" class="rounded-circle" alt="">
                            </a>
                        </div>
                        <div class="respondaMensagemInput">
                            <input type="text">
                        </div>
                        <div class="respondaMensagemBotao">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
                  
                  
                  
            
            <div class="col-sm-12 col-md-8 primary mb-4 offset-md-4">
                <div class="card testePTColorgray">
                    <div class="mensagem">
                        <div class="avatarMensagem">
                            <a href="index.php?page=coordenador"> <img src="dist/img/avatar.png" class="rounded-circle" alt=""></a>
                        </div>
                        <div class="nomeAvatarMensagem">
                            <a href="index.php?page=coordenador">
                                <p class="text-preto">Nome do coordenador <br>compartilhado em 00/00/0000</p>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-text img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio at suscipit id iure in ratione, aliquam, corporis odio fuga rerum dolore facere, labore necessitatibus accusantium voluptatem molestias praesentium temporibus distinctio!
                            </p>
                        </div>
                    </div>
<!--
                    <div class="fotoPost">
                        <img src="dist/img/banner1.jpg" alt="">
                    </div>
-->
                    <div class="fotoVideoPost">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/pAgnJDJN4VA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="botaoMensagem cinza-claro2 py-2">
                        <button class="btn btn-primary"><i class="fas fa-thumbs-up"></i></button>
<!--                        <button class="btn btn-primary"><i class="fas fa-share"></i></button>-->
                        <p class="ml-4 mt-1">10 curtidas </p>
                        <p class=" mt-1"> 10 Comentarios</p>
                    </div>
                    <div class="mensagemPost">
                        <div class="avatarMensagem">
                            <a href="index.php?page=aluno"><img src="dist/img/avatar.png" class="rounded-circle" alt=""></a>
                        </div>
                        <div class="nomeAvatarMensagem">
                            <a href="index.php?page=aluno">
                                <p class="text-preto">Nome do aluno <br> Compartilhado em 00/00/0000</p>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-text clear">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident quia tempore minus maiores, modi nihil laudantium? Quidem officia adipisci eligendi, nihil, natus, reprehenderit placeat earum iusto blanditiis eius voluptatem.</p>
                                <p class="responder"> RESPONDER</p>
                                <div class="responderMsg respondaMensagem">
                                    <div class="avatarResponda">
                                        <a href="index.php?page=aluno">
                                        <img src="dist/img/avatar.png" class="rounded-circle" alt="">
                                         </a>
                                    </div>
                                    <div class="respondaMensagemInput">
                                        <input type="text">
                                    </div>
                                    <div class="respondaMensagemBotao">
                                        <button type="submit" class="btn btn-primary">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mensagemPost">
                        <div class="avatarMensagem">
                            <a href="index.php?page=coordenador"><img src="dist/img/avatar.png" class="rounded-circle" alt=""></a>
                        </div>
                        <div class="nomeAvatarMensagem">
                            <a href="index.php?page=coordenador">
                                <p class="text-preto">
                                Nome do coordenador <br> Compartilhado em 00/00/0000
                                </p>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-text clear">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident quia tempore minus maiores, modi nihil laudantium? Quidem officia adipisci eligendi, nihil, natus, reprehenderit placeat earum iusto blanditiis eius voluptatem.</p>
                               <p class="responder"> RESPONDER</p>
                                <div class="responderMsg respondaMensagem">
                                    <div class="avatarResponda">
                                        <a href="index.php?page=aluno">
                                        <img src="dist/img/avatar.png" class="rounded-circle" alt="">
                                         </a>
                                    </div>
                                    <div class="respondaMensagemInput">
                                        <input type="text">
                                    </div>
                                    <div class="respondaMensagemBotao">
                                        <button type="submit" class="btn btn-primary">Enviar</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="mensagemPostResposta">
                        <div class="avatarMensagem">
                            <a href="index.php?page=aluno"><img src="dist/img/avatar.png" class="rounded-circle" alt=""></a>
                        </div>
                        <div class="nomeAvatarMensagemResposta">
                            <a href="index.php?page=aluno">
                                <p class="text-preto">Nome do aluno <br> Compartilhado em 00/00/0000

                                </p>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-text clear">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident quia tempore minus maiores, modi nihil laudantium? Quidem officia adipisci eligendi, nihil, natus, reprehenderit placeat earum iusto blanditiis eius voluptatem.</p>
                                <p class="responder"> RESPONDER</p>
                                <div class="responderMsg respondaMensagem">
                                    <div class="avatarResponda">
                                        <a href="index.php?page=aluno">
                                        <img src="dist/img/avatar.png" class="rounded-circle" alt="">
                                         </a>
                                    </div>
                                    <div class="respondaMensagemInput">
                                        <input type="text">
                                    </div>
                                    <div class="respondaMensagemBotao">
                                        <button type="submit" class="btn btn-primary">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="respondaMensagem">
                        <div class="avatarResponda">
                            <a href="index.php?page=aluno">
                            <img src="dist/img/avatar.png" class="rounded-circle" alt="">
                            </a>
                        </div>
                        <div class="respondaMensagemInput">
                            <input type="text">
                        </div>
                        <div class="respondaMensagemBotao">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
                  
                              
        </div>
        
        
    </div>