  <?php 
  include 'control/usuario.class.php';
  $usuario = new usuario(); ?>
  <div class="cover perfil mb-3 ">
        <div class="wrapper">
            <div class="image">
                <img src="dist/img/capa1.jpg" alt="Foto do aluno">
            </div>
        </div>
        <div class="lilas">
            <div class="container ">
                <div class="cover-info">
                    <div class="avatar">
                        <a href="index.php?page=aluno"> <img src="dist/img/avatar.png" alt="people"></a>
                    </div>
                    <div class="nome"><a href="#"><?php echo $usuario->nome ?></a></div>
                    <ul class="cover-nav menuPerfil">
                        <li><a  class="text-preto" href="index.php?page=grupo"><?php echo $usuario->nomeGrupo ?></a></li>
                        <li><a  class="text-preto" href="index.php?page=alterarCadastro">Cadastro</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 primary mb-4">
                <div class="imgCracha">
                    <img src="dist/img/capaCracha.png" alt="">
                </div>
                <div class="card subir mb-4 testePTColorgray">
                    <div class="card-body paddingCracha">
                        <h4 class="card-title text-center">
                            CRACHÁ
                        </h4>
                        <p class="card-text">Nome: <?php echo $usuario->nome ?></p>
                        <p class="card-text">Etec: <?php echo $usuario->nomeEtec ?></p>
                        <p class="card-text">Grupo: <?php echo $usuario->nomeGrupo ?></p>
                    </div>
                </div>
                <div class="card subir testePTColorgray">
                    <div class="card-body">
                        <h4 class="card-title text-center">
                            DESAFIO
                        </h4>
                        <div class="desafio-card">
                            <h6 class="card-text">Etapa 1 <span class="dataEtapas">00/00/0000</span></h6>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque a quos nisi laborum. Optio, soluta, incidunt. Explicabo qui, rerum, excepturi cumque error quae, aut nam velit dignissimos sed, eos possimus.</p>
                        </div>
                        <div class="desafio-card">
                            <h6 class="card-text">Etapa 2 <span class="dataEtapas">00/00/0000</span></h6>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque a quos nisi laborum. Optio, soluta, incidunt. Explicabo qui, rerum, excepturi cumque error quae, aut nam velit dignissimos sed, eos possimus.</p>
                        </div>
                        <div class="desafio-card">
                            <h6 class="card-text">Etapa 3 <span class="dataEtapas">00/00/0000</span></h6>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque a quos nisi laborum. Optio, soluta, incidunt. Explicabo qui, rerum, excepturi cumque error quae, aut nam velit dignissimos sed, eos possimus.</p>
                        </div>
                        <div class="desafio-card">
                            <h6 class="card-text">Etapa 4 <span class="dataEtapas">00/00/0000</span></h6>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque a quos nisi laborum. Optio, soluta, incidunt. Explicabo qui, rerum, excepturi cumque error quae, aut nam velit dignissimos sed, eos possimus.</p>
                        </div>
                    </div>
                </div>
            </div>
            
                
            
            
            <?php $usuario->posts(); ?>
                  
                              
        </div>
        
        
    </div>