
<div class="container">
    <div class="row">
        <div class="titulo">
            <h1>Cadastro</h1>
        </div>
        <div class="col-sm-12 col-md-12 primary mb-4">
            <form method="post" action="">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" class="form-control" name="nome" placeholder="Nome do aluno">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="etec">Etec</label>
                            <input type="text" class="form-control" name="etec" placeholder="Nome do etec">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="curso">Curso</label>
                            <input type="text" class="form-control" name="curso" placeholder="Nome do curso">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="modulo">Modulo</label>
                            <input type="text" class="form-control" name="modulo" placeholder="3º">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="dataDeNascimento">Data de Nascimento</label>
                            <input type="date" class="form-control" name="dataDeNascimento">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="text" class="form-control" name="email" placeholder="user@mail.com">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="senha">Senha</label>
                            <input class="form-control senha" type="password" name="senha">
                            <img src="" class="olhoSenha" alt="">

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="confirmaSenha">Confirmar senha</label>
                            <input type="password" class="form-control confirmaSenha" name="confirmaSenha">
                            <img src="" class="olhoConfirmaSenha" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="foto">Foto</label>
                            <input type="file" class="form-control" name="foto">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="capa">Capa</label>
                            <input type="file" class="form-control" name="capa">
                        </div>
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary  float-right" name="cadastrar">Cadatrar</button>
                </div>
            </form>
        </div>
    </div>
</div>


