<div class="cover perfil mb-3">
    <div class="wrapper">
        <div class="image">
            <img src="dist/img/capa1.jpg" alt="people" />
        </div>
    </div>
    <div class="lilas">
        <div class="container">
            <div class="cover-info">
                <div class="avatar">
                    <img src="dist/img/avatar.png" alt="people" />
                </div>
                <div class="nome"><a href="#">Nome do coordenador</a></div>
                <ul class="cover-nav">
                    <li><a href="" data-toggle="modal" data-target="#criarDesafioModal"> Criar desafio</a></li>
                    <li><a href="index.php?page=criarGrupo"> Criar grupo</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="criarDesafioModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-desafio modal-sm">
        <div class="modal-content px-3 py-3 roxo inputLilas ">
            <div class="modalTitulo">
                <button type="button" class="close text-branco" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-branco" id="login">CRIAR DESAFIO</h4>
            </div>
            <div class="modal-body">
                <p class="text-center text-branco ">
                    <label for="">Titulo do desafio</label>
                    <input type="text">
                </p>
                <p class="text-center text-branco ">
                    <label for="">Texto do desafio</label>
                    <textarea name="" id="" cols="26" rows="10"></textarea>
                </p>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary ">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 primary mb-4">
            <div class="imgCracha">
                <img src="dist/img/capaCracha.png" alt="">
            </div>
            <div class="card subir mb-4 testePTColorgray">
                <div class="card-body paddingCracha">
                    <h4 class="card-title text-center">
                        CRACHÁ  
                    </h4>
                    <p class="card-text">Nome do coordenador</p>
                    <p class="card-text">Nome da etec</p>
                </div>
            </div>
            <div class="card subir testePTColorgray">
                <div class="card-body">
                    <h4 class="card-title text-center">
                        DESAFIO
                    </h4>
                    <h6 class="card-text">Etapa 1 <span class="dataEtapas">00/00/0000</span></h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque a quos nisi laborum. Optio, soluta, incidunt. Explicabo qui, rerum, excepturi cumque error quae, aut nam velit dignissimos sed, eos possimus.</p>
                    <h6 class="card-text">Etapa 2 <span class="dataEtapas">00/00/0000</span></h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque a quos nisi laborum. Optio, soluta, incidunt. Explicabo qui, rerum, excepturi cumque error quae, aut nam velit dignissimos sed, eos possimus.</p>
                    <h6 class="card-text">Etapa 3 <span class="dataEtapas">00/00/0000</span></h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque a quos nisi laborum. Optio, soluta, incidunt. Explicabo qui, rerum, excepturi cumque error quae, aut nam velit dignissimos sed, eos possimus.</p>
                    <h6 class="card-text">Etapa 4 <span class="dataEtapas">00/00/0000</span></h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque a quos nisi laborum. Optio, soluta, incidunt. Explicabo qui, rerum, excepturi cumque error quae, aut nam velit dignissimos sed, eos possimus.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 primary mb-4">
            <div class="card testePTColorgray">
                <div class="mensagem">
                    <a href="index.php?page=aluno">
                        <div class="avatarMensagem">
                            <img src="dist/img/avatar.png" class="rounded-circle" alt="">
                        </div>
                        <div class="nomeAvatarMensagem">
                            <p class="text-preto">Nome do aluno <br>compartilhado em 00/00/0000</p>
                        </div>
                    </a>
                </div>
                <div class="card-body">
                    <div class="card-text img">
                        <p class="text-preto">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio at suscipit id iure in ratione, aliquam, corporis odio fuga rerum dolore facere, labore necessitatibus accusantium voluptatem molestias praesentium temporibus distinctio!
                        </p>
                    </div>
                </div>
                <div class="fotoPost">
                    <img src="dist/img/banner1.png" alt="">
                </div>
                <div class="botaoMensagem cinza-claro2 py-2">
                    <button class="btn btn-primary"><i class="fas fa-thumbs-up"></i></button>
<!--                    <button class="btn btn-primary"><i class="fas fa-share"></i></button>-->
                    <p class="ml-4 mt-1">10 curtidas </p>
                    <p class=" mt-1"> 10 Comentarios</p>
                </div>
                <div class="mensagemPost">
                    <div class="avatarMensagem">
                        <a href="index.php?page=coordenador"><img src="dist/img/avatar.png" class="rounded-circle" alt="">
                        </div>
                        <div class="nomeAvatarMensagem">
                            <p class="text-preto">Nome do coordenador <br> Compartilhado em 00/00/0000 </p>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="card-text clear">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident quia tempore minus maiores, modi nihil laudantium? Quidem officia adipisci eligendi, nihil, natus, reprehenderit placeat earum iusto blanditiis eius voluptatem.</p>
                            <p> Responder</p>
                        </div>
                    </div>
                </div>
                <div class="mensagemPost">
                    <div class="avatarMensagem">
                        <a href="index.php?page=aluno"><img src="dist/img/avatar.png" class="rounded-circle" alt=""></a>
                    </div>
                    <div class="nomeAvatarMensagem">
                        <a href="index.php?page=aluno">
                            <p class="text-preto">Nome do aluno <br> Compartilhado em 00/00/0000</p>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="card-text clear">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident quia tempore minus maiores, modi nihil laudantium? Quidem officia adipisci eligendi, nihil, natus, reprehenderit placeat earum iusto blanditiis eius voluptatem.</p>
                            <p> Responder</p>
                        </div>
                    </div>
                </div>
                  <div class="mensagemPostResposta">
                    <div class="avatarMensagem">
                        <a href="index.php?page=aluno"><img src="dist/img/avatar.png" class="rounded-circle" alt=""></a>
                    </div>
                    <div class="nomeAvatarMensagemResposta">
                        <a href="index.php?page=aluno">
                            <p class="text-preto">Nome do aluno <br> Compartilhado em 00/00/0000

                            </p>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="card-text clear">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident quia tempore minus maiores, modi nihil laudantium? Quidem officia adipisci eligendi, nihil, natus, reprehenderit placeat earum iusto blanditiis eius voluptatem.</p>
                            <p> Responder</p>
                        </div>
                    </div>
                </div>
                <div class="respondaMensagem">
                    <div class="avatarResponda">
                        <img src="dist/img/avatar.png" class="rounded-circle" alt="">
                    </div>
                    <div class="respondaMensagemInput">
                        <input type="text">
                    </div>
                    <div class="respondaMensagemBotao">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>