<div class="jumbotron jumbotron-fluid text-center rounded-0 laranja">
    <div class="container">
        <h1 class="display-3 ">O PROJETO</h1>
        <p class="lead ">O Projeto Cidadão do Futuro, iniciativa a ser desenvolvida pela AML Consulting em parceria com as ETECs Basilides de Godoy, André Bogasian e Jaraguá, tem como objetivo desenvolver uma plataforma online para abrigar o concurso Cidadão do Futuro. A iniciativa busca a participação dos alunos e professores em ações para o exercício da cidadania, contribuindo na formação de cidadãos conscientes dos seus deveres e obrigações na sociedade. </p>
    </div>
</div>

<style>


</style>
<div class="container">

    <div class="row">

 <div class="col-md-6 col-lg-4 col-sm-6 col-xl-3   mb-3 d-flex align-self-stretch  flex-column ">
            <div class="card roxo">
                <div class="videoPlayDesafio">
                    <a href="https://www.youtube.com/watch?v=_-G9mz_7DHk"> <img class="card-img-top" src="dist/img/capaGrupoIndex.png" alt=""> 
                        <img src="dist/img/player.png" class="play" alt="">
                        </a>
                    <div class="card-body text-center testPTColorWhite">

                        <div class="row">
                            <div class="caixaAvatarGrupo-desafio col-md-6 avatarPequeno">
                                <img src="dist/img/avatarGrupo.png" class="" alt="">
                            </div>
                            
                            
                            <div class="caixaNomeGrupo-desafio col-md-6 justificarTexto tirarMargenLeft">
                                <p class="nomeGrupo">Nome grupo</p>
                                <p class="nomeEtec">Nome etec</p>
                            </div>
                        </div>
                        <div class="curtirVideo">
                            <p>CURTIR</p>
                            <p><i class=" fas fa-heart curtir"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>










        <div class="col-md-6 col-lg-4 col-sm-6 col-xl-3   mb-3 d-flex align-self-stretch  flex-column ">
            <div class="card roxo">
                <div class="videoPlayDesafio">
                    <a href="https://www.youtube.com/watch?v=i1PE7-mNZec"> <img class="card-img-top" src="dist/img/capaGrupoIndex.png" alt="">
                        <img src="dist/img/player.png" class="play" alt="">
                        </a>
                    <div class="card-body text-center testPTColorWhite">

                       <div class="row">
                            <div class="caixaAvatarGrupo-desafio col-md-6 avatarPequeno">
                                <img src="dist/img/avatarGrupo.png" class="" alt="">
                            </div>
                            
                            
                            <div class="caixaNomeGrupo-desafio col-md-6 justificarTexto tirarMargenLeft">
                                <p class="nomeGrupo">Nome grupo</p>
                                <p class="nomeEtec">Nome etec</p>
                            </div>
                        </div>
                        <div class="curtirVideo">
                            <p>CURTIR</p>
                            <p><i class=" fas fa-heart curtir"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-sm-6 col-xl-3   mb-3 d-flex align-self-stretch  flex-column ">
            <div class="card roxo">
                <div class="videoPlayDesafio">
                    <a href="https://www.youtube.com/watch?v=S6T959c-FYQ"> <img class="card-img-top" src="dist/img/capaGrupoIndex.png" alt="">
                        <img src="dist/img/player.png" class="play" alt="">
                        </a>
                    <div class="card-body text-center testPTColorWhite">

                       <div class="row">
                            <div class="caixaAvatarGrupo-desafio col-md-6 avatarPequeno">
                                <img src="dist/img/avatarGrupo.png" class="" alt="">
                            </div>
                            
                            
                            <div class="caixaNomeGrupo-desafio col-md-6 justificarTexto tirarMargenLeft">
                                <p class="nomeGrupo">Nome grupo</p>
                                <p class="nomeEtec">Nome etec</p>
                            </div>
                        </div>
                        <div class="curtirVideo">
                            <p>CURTIR</p>
                            <p><i class=" fas fa-heart curtir"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-sm-6 col-xl-3   mb-3 d-flex align-self-stretch  flex-column ">
            <div class="card roxo">
                <div class="videoPlayDesafio">
                    <a href="https://www.youtube.com/watch?v=a8Z2jSATjqQ"> <img class="card-img-top" src="dist/img/capaGrupoIndex.png" alt="">
                        <img src="dist/img/player.png" class="play" alt="">
                        </a>
                    <div class="card-body text-center testPTColorWhite">

                        <div class="row">
                            <div class="caixaAvatarGrupo-desafio col-md-6 avatarPequeno">
                                <img src="dist/img/avatarGrupo.png" class="" alt="">
                            </div>
                            
                            
                            <div class="caixaNomeGrupo-desafio col-md-6 justificarTexto tirarMargenLeft">
                                <p class="nomeGrupo">Nome grupo</p>
                                <p class="nomeEtec">Nome etec</p>
                            </div>
                        </div>
                        <div class="curtirVideo">
                            <p>CURTIR</p>
                            <p><i class=" fas fa-heart curtir"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-sm-6 col-xl-3   mb-3 d-flex align-self-stretch  flex-column ">
            <div class="card roxo">
                <div class="videoPlayDesafio">
                    <a href="https://www.youtube.com/watch?v=_-G9mz_7DHk"> <img class="card-img-top" src="dist/img/capaGrupoIndex.png" alt=""> 
                        <img src="dist/img/player.png" class="play" alt="">
                        </a>
                    <div class="card-body text-center testPTColorWhite">

                        <div class="row">
                            <div class="caixaAvatarGrupo-desafio col-md-6 avatarPequeno">
                                <img src="dist/img/avatarGrupo.png" class="" alt="">
                            </div>
                            
                            
                            <div class="caixaNomeGrupo-desafio col-md-6 justificarTexto tirarMargenLeft">
                                <p class="nomeGrupo">Nome grupo</p>
                                <p class="nomeEtec">Nome etec</p>
                            </div>
                        </div>
                        <div class="curtirVideo">
                            <p>CURTIR</p>
                            <p><i class=" fas fa-heart curtir"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>










        <div class="col-md-6 col-lg-4 col-sm-6 col-xl-3   mb-3 d-flex align-self-stretch  flex-column ">
            <div class="card roxo">
                <div class="videoPlayDesafio">
                    <a href="https://www.youtube.com/watch?v=i1PE7-mNZec"> <img class="card-img-top" src="dist/img/capaGrupoIndex.png" alt="">
                        <img src="dist/img/player.png" class="play" alt="">
                        </a>
                    <div class="card-body text-center testPTColorWhite">

                       <div class="row">
                            <div class="caixaAvatarGrupo-desafio col-md-6 avatarPequeno">
                                <img src="dist/img/avatarGrupo.png" class="" alt="">
                            </div>
                            
                            
                            <div class="caixaNomeGrupo-desafio col-md-6 justificarTexto tirarMargenLeft">
                                <p class="nomeGrupo">Nome grupo</p>
                                <p class="nomeEtec">Nome etec</p>
                            </div>
                        </div>
                        <div class="curtirVideo">
                            <p>CURTIR</p>
                            <p><i class=" fas fa-heart curtir"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-sm-6 col-xl-3   mb-3 d-flex align-self-stretch  flex-column ">
            <div class="card roxo">
                <div class="videoPlayDesafio">
                    <a href="https://www.youtube.com/watch?v=S6T959c-FYQ"> <img class="card-img-top" src="dist/img/capaGrupoIndex.png" alt="">
                        <img src="dist/img/player.png" class="play" alt="">
                        </a>
                    <div class="card-body text-center testPTColorWhite">

                       <div class="row">
                            <div class="caixaAvatarGrupo-desafio col-md-6 avatarPequeno">
                                <img src="dist/img/avatarGrupo.png" class="" alt="">
                            </div>
                            
                            
                            <div class="caixaNomeGrupo-desafio col-md-6 justificarTexto tirarMargenLeft">
                                <p class="nomeGrupo">Nome grupo</p>
                                <p class="nomeEtec">Nome etec</p>
                            </div>
                        </div>
                        <div class="curtirVideo">
                            <p>CURTIR</p>
                            <p><i class=" fas fa-heart curtir"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-sm-6 col-xl-3   mb-3 d-flex align-self-stretch  flex-column ">
            <div class="card roxo">
                <div class="videoPlayDesafio">
                    <a href="https://www.youtube.com/watch?v=a8Z2jSATjqQ"> <img class="card-img-top" src="dist/img/capaGrupoIndex.png" alt="">
                        <img src="dist/img/player.png" class="play" alt="">
                        </a>
                    <div class="card-body text-center testPTColorWhite">

                        <div class="row">
                            <div class="caixaAvatarGrupo-desafio col-md-6 avatarPequeno">
                                <img src="dist/img/avatarGrupo.png" class="" alt="">
                            </div>
                            
                            
                            <div class="caixaNomeGrupo-desafio col-md-6 justificarTexto tirarMargenLeft">
                                <p class="nomeGrupo">Nome grupo</p>
                                <p class="nomeEtec">Nome etec</p>
                            </div>
                        </div>
                        <div class="curtirVideo">
                            <p>CURTIR</p>
                            <p><i class=" fas fa-heart curtir"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>

</div>

<div class="mobile_bnt">
    <div class="btnVoltar jbtnVontar">
        <a href="" class="btnVoltarLink jbtnVoltarLink">
            <i class=" fas fa-arrow-alt-circle-up " aria-hidden="true"></i>
        </a>
    </div>
</div>

<div id="mPlayer">
    <div> </div>
</div>
