 <?php include 'control/usuario.class.php';
 include 'control/membrosGrupo.class.php';
  $usuario = new usuario(); ?>
<!--
    <div class="cover perfil mb-3">
        <div class="wrapper">
            <div class="image">
                <img src="dist/img/capa1.jpg" alt="people" />
            </div>
        </div>
        <div class="lilas">
            <div class="container">
                <div class="cover-info">
                    <div class="nome-grupo"><a href="#">Nome do Grupo</a></div>
                    <ul class="cover-nav-grupo">
                        <li><a href="sobre.php">Sobre</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
-->
   
   <div class="cover perfil mb-3">
    <div class="wrapper">
        <div class="image">
            <img src="dist/img/capa1.jpg" alt="people" />
        </div>
    </div>
    <div class="lilas">
        <div class="container">
            <div class="cover-info">
                <div class="avatar">
                    <img src="dist/img/avatarGrupo.png" alt="people" />
                </div>
                <div class="nome"><a href="#"><?php echo $usuario->nomeGrupo ?></a></div>
                <ul class="cover-nav">
                  
                </ul>
            </div>
        </div>
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 primary mb-4">
                <div class="imgCracha">
                    <img src="dist/img/capaCracha.png" alt="">
                </div>
                <div class="card subir mb-4 testePTColorgray">
                    <div class="card-body paddingCracha">
                        <h4 class="card-title text-center">
                            Crachá
                        </h4>
                        <p class="card-text"><?php echo $usuario->nomeGrupo ?></p>
                        <p class="card-text"><?php echo $usuario->nomeEtec ?></p>
                        <p class="card-text">Nome dos integrantes</p>
                        <ul class="integrantes">
                            <?php $membrosGrupo->listaMembros(); ?>
                        </ul>
                    </div>
                </div>
                <div class="card subir testePTColorgray">
                    <div class="card-body">
                        <h4 class="card-title text-center">
                            Desafio
                        </h4>
                        <h6 class="card-text">Etapa 1 <span class="dataEtapas">00/00/0000</span></h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque a quos nisi laborum. Optio, soluta, incidunt. Explicabo qui, rerum, excepturi cumque error quae, aut nam velit dignissimos sed, eos possimus.</p>
                        <h6 class="card-text">Etapa 2 <span class="dataEtapas">00/00/0000</span></h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque a quos nisi laborum. Optio, soluta, incidunt. Explicabo qui, rerum, excepturi cumque error quae, aut nam velit dignissimos sed, eos possimus.</p>
                        <h6 class="card-text">Etapa 3 <span class="dataEtapas">00/00/0000</span></h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque a quos nisi laborum. Optio, soluta, incidunt. Explicabo qui, rerum, excepturi cumque error quae, aut nam velit dignissimos sed, eos possimus.</p>
                        <h6 class="card-text">Etapa 4 <span class="dataEtapas">00/00/0000</span></h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque a quos nisi laborum. Optio, soluta, incidunt. Explicabo qui, rerum, excepturi cumque error quae, aut nam velit dignissimos sed, eos possimus.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 primary mb-4">
                <form method="POST" action="model/uploadPost.php" enctype="multipart/form-data" >
                    <div class="card mb-4">
                        <div class="fazerPost">
                            O que há de novo
                        </div>
                        <div class="fazerPostMensagem testePTColorgray">

                            <textarea name="postDesafio" id="" placeholder="compartilhe seu status"></textarea>
                        </div>
                        <div class="fazerPost  cinza-claro">
                            
                            <div class="fazerPostVidImg">
                                <ul>
                                    <li class="videoInserir"><i class="fas fa-video"></i></li>

                                    <li class="fotoInserir"><i class="fas fa-image"></i></li>
                                </ul>
                                <div class="esconder">
                                
                                    <input type="file" name="inserirVideo" class="inserirVideo">
                                    <input type="file" name="inserirFoto[]" class="inserirFoto" multiple="multiple">
                                    </form>
                                </div>
                            </div>
                            <div class="fazerPostBotao ">
                                <input name="SendCadImg" type="submit" value="Enviar" class="btn btn-primary float-right">
                            </div>
                            </form>
                        </div>
                    </div>
                </form>
                <div class="card testePTColorgray">
                    <div class="mensagem">
                        <a href="aluno.php">
                            <div class="avatarMensagem">
                                <img src="dist/img/avatar.png" class="rounded-circle" alt="">
                            </div>
                            <div class="nomeAvatarMensagem">
                                <p class="text-preto">Nome do aluno <br>compartilhado em 00/00/0000</p>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="card-text img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio at suscipit id iure in ratione, aliquam, corporis odio fuga rerum dolore facere, labore necessitatibus accusantium voluptatem molestias praesentium temporibus distinctio!
                            </p>
                        </div>
                    </div>
                    <div class="fotoPost">
                        <img src="dist/img/banner1.png" alt="">                    </div>
                    <div class="botaoMensagem cinza-claro2 py-2">
                        <button class="btn btn-primary"><i class="fas fa-thumbs-up"></i></button>
                        <button class="btn btn-primary"><i class="fas fa-share"></i></button>
                        <p class="ml-4 mt-1">10 curtidas </p>
                        <p class=" mt-1"> 10 Comentarios</p>
                    </div>
                    <div class="mensagemPost">
                        <div class="avatarMensagem">
                            <a href="coordenador.php"><img src="dist/img/avatar.png" class="rounded-circle" alt=""></a>
                        </div>
                        <div class="nomeAvatarMensagem">
                            <a href="aluno.php">
                               <a href="coordenador.php"> <p class="text-preto">Nome do coordenador <br> Compartilhado em 00/00/0000
                                </p></a>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-text clear">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident quia tempore minus maiores, modi nihil laudantium? Quidem officia adipisci eligendi, nihil, natus, reprehenderit placeat earum iusto blanditiis eius voluptatem.</p>
                                <p> Responder</p>
                            </div>
                        </div>
                    </div>
                    <div class="mensagemPost">
                        <div class="avatarMensagem">
                            <a href="aluno.php"> <img src="dist/img/avatar.png" class="rounded-circle" alt=""></a>
                        </div>
                        <div class="nomeAvatarMensagem">
                            <a href="aluno.php">
                                <p class="text-preto">Nome do aluno<br> Compartilhado em 00/00/0000
                                </p>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-text clear">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident quia tempore minus maiores, modi nihil laudantium? Quidem officia adipisci eligendi, nihil, natus, reprehenderit placeat earum iusto blanditiis eius voluptatem.</p>
                                <p> Responder</p>
                            </div>
                        </div>
                    </div>
                    <div class="mensagemPostResposta">
                        <div class="avatarMensagem">
                            <a href="coordenador.php"><img src="dist/img/avatar.png" class="rounded-circle" alt=""></a>
                        </div>
                        <div class="nomeAvatarMensagemResposta">
                            <a href="coordenador.php">
                                <p class="text-preto">Nome do coordenador 
                                <br> Compartilhado em 00/00/0000
                                </p>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-text clear">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident quia tempore minus maiores, modi nihil laudantium? Quidem officia adipisci eligendi, nihil, natus, reprehenderit placeat earum iusto blanditiis eius voluptatem.</p>
                                <p> Responder</p>
                            </div>
                        </div>
                    </div>
                    <div class="respondaMensagem">
                        <div class="avatarResponda">
                            <img src="dist/img/avatar.png" class="rounded-circle" alt="">
                        </div>
                        <div class="respondaMensagemInput">
                            <input type="text">
                        </div>
                        <div class="respondaMensagemBotao">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
