  <div id="carouselSite" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block img-fluid" src="dist/img/banner1.jpg" alt="slider">
<!--
                <div class="carousel-caption">
                    <h4 class="text-preto">SEU FUTURO COMEÇA AQUI !</h4>
                </div>
-->
            </div>
            <div class="carousel-item ">
                <img class="d-block img-fluid" src="dist/img/banner2.jpg" alt="slider">
<!--
                <div class="carousel-caption">
                    <h4 class="text-preto">texto 2 </h4>
                </div>
-->
            </div>
            <div class="carousel-item ">
                <img class="d-block img-fluid" src="dist/img/banner3.jpg" alt="slider">

<!--
                <div class="carousel-caption">
                    <h4 class="text-preto">texto3</h4>
                </div>
-->
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselSite" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselSite" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="jumbotron jumbotron-fluid text-center rounded-0">
        <div class="container">
            <h1 class="display-3">O PROJETO</h1>
            <p class="lead justify">O Projeto Cidadão do Futuro, iniciativa a ser desenvolvida pela AML Consulting em parceria com as ETECs Basilides de Godoy, André Bogasian e Jaraguá, tem como objetivo desenvolver uma plataforma online para abrigar o concurso Cidadão do Futuro. A iniciativa busca a participação dos alunos e professores em ações para o exercício da cidadania, contribuindo na formação de cidadãos conscientes dos seus deveres e obrigações na sociedade. </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 mb-3 text-center">
                <h2 class="titulo2">ETAPAS</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xl-3 mb-3 d-flex align-self-stretch  flex-column">
                <div class="card tirarBorda">
                    <div class=" circuloIndex">
                        <img class="card-img-top rounded-circle imgRedonda" src="dist/img/2.png" alt="">
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title">
                            1º ETAPA
                        </h4>
                        <p class="card-text">Entregar por meio do portal proposta da ação que será realiza para comunidade interno ou externo.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xl-3 mb-3 d-flex align-self-stretch  flex-column">
                <div class="card tirarBorda">
                    <div class=" circuloIndex">
                        <img class="card-img-top rounded-circle imgRedonda" src="dist/img/3.png" alt="">
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title">
                            2º ETAPA
                        </h4>
                        <p class="card-text">Publicar vídeo de até 1 minuto com o pitch do projeto.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xl-3 mb-3 d-flex align-self-stretch  flex-column">
                <div class="card tirarBorda">
                    <div class=" circuloIndex">
                        <img class="card-img-top rounded-circle imgRedonda" src="dist/img/1.png" alt="">
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title">
                            3º ETAPA
                        </h4>
                        <p class="card-text">Diário de bordo virtual - Publicar no portal até 10 fotos dos bastidores da ação com textos de até 100 caracteres.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xl-3 mb-3 d-flex align-self-stretch  flex-column">
                <div class="card tirarBorda">
                    <div class=" circuloIndex">
                        <img class="card-img-top rounded-circle imgRedonda" src="dist/img/3.png" alt="">
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title">
                            4º ETAPA
                        </h4>
                        <p class="card-text">Publicar no portal vídeo de até 3 minutos com o resultado da ação executada.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid text-center rounded-0 roxo">
        <div class="container testPTColorWhite">
            <h1 class="display-3">TITULO</h1>
            <p class="lead justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non odio quos tempora illo, eius et earum veritatis perferendis odit numquam quam sequi repellat itaque ex possimus repellendus. Temporibus, sunt, nam.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 mb-3 d-flex align-self-stretch  flex-column ">
                <div class="card roxo">
                    <img class="card-img-top" src="dist/img/capaGrupoIndex.png" alt="">
                    <div class="card-body text-center testPTColorWhite">
                        <h4 class="card-title">
                            nome do grupo
                        </h4>
                        <p class="card-text justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic natus necessitatibus atque dicta unde numquam ut...</p>
                        <a class="card-link btn btn-outline-primary btn-lilas" href="index.php?page=desafios">Ver desafio</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-3 d-flex align-self-stretch  flex-column">
                <div class="card lilas">
                    <img class="card-img-top" src="dist/img/capaGrupoIndex.png" alt="">
                    <div class="card-body text-center">
                        <h4 class="card-title">
                            nome do grupo
                        </h4>
                        <p class="card-text justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic natus necessitatibus atque dicta unde numquam ut...</p>
                        <a class="card-link btn btn-outline-primary btn-roxo" href="index.php?page=desafios">Ver desafio</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-3 d-flex align-self-stretch  flex-column">
                <div class="card roxo">
                    <img class="card-img-top" src="dist/img/capaGrupoIndex.png" alt="">
                    <div class="card-body text-center testPTColorWhite">
                        <h4 class="card-title">
                            nome do grupo
                        </h4>
                        <p class="card-text justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic natus necessitatibus atque dicta unde numquam ut...</p>
                        <a class="card-link btn btn-outline-primary btn-lilas" href="index.php?page=desafios">Ver desafio</a>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link testPTpagecolor" href="#" tabindex="-1">&lsaquo;</a>
                </li>
                <li class="page-item"><a class="page-link testPTpagecolor activePag" href="#">1</a></li>
                <li class="page-item"><a class="page-link testPTpagecolor" href="#">2</a></li>
                <li class="page-item"><a class="page-link testPTpagecolor" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link testPTpagecolor" href="#">&rsaquo;</a>
                </li>
            </ul>
        </nav>
    </div>