<div class="titulo text-center">
   <div class="container">
    <h1>REGULAMENTO</h1>
    </div>
</div>

<div class=" primary mb-4">
    <div class="jumbotron jumbotron-fluid text-center rounded-0 cinza-claro">
        <div class="container">
            <p class="lead justify"> O Projeto Cidadão do Futuro, iniciativa a ser desenvolvida pela AML Consulting em parceria com as ETECs Basilides de Godoy, André Bogasian e Jaraguá, tem como objetivo desenvolver uma plataforma online para abrigar o concurso Cidadão do Futuro. A iniciativa busca a participação dos alunos e professores em ações para o exercício da cidadania, contribuindo na formação de cidadãos conscientes dos seus deveres e obrigações na sociedade.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 d-flex align-self-stretch  flex-column  mb-4">
            <div class="card ">
                <div class="card-body ">
                    <h4 class="card-title text-center ">
                        Formação das equipes
                    </h4>
                    <p class="card-text"><i class="fas fa-arrow-right "></i> Equipe ETEC Basilides de Godoy: 10 alunos regularmente matriculados no Técnico Modular no curso de Informática. </p>
                    <p class="card-text"><i class="fas fa-arrow-right "></i> Equipe ETEC André Bogasian: 10 alunos regularmente matriculados no Técnico Modular no curso de Marketing. </p>
                    <p class="card-text"><i class="fas fa-arrow-right "></i> Equipe ETEC Jaraguá: 10 alunos regularmente matriculados no Técnico Modular no curso de Informática.<br><br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 d-flex align-self-stretch  flex-column  mb-4">
            <div class="card ">
                <div class="card-body ">
                    <h4 class="card-title text-center ">
                        Processo de seleção
                    </h4>
                    <p class="card-text"><i class="fas fa-arrow-right "></i> Estar regularmente matriculado em uma das Etecs participantes;</p>
                    <p class="card-text"><i class="fas fa-arrow-right "></i> Ter 75% de presença em todas as matérias do ano letivo;</p>
                    <p class="card-text"><i class="fas fa-arrow-right "></i> Ter notas mínimas (R- regular) em todas as matérias do ano letivo;</p>
                    <p class="card-text"><i class="fas fa-arrow-right "></i> Não ter sofrido ocorrência disciplinar no último ano letivo;</p>
                    <p class="card-text"><i class="fas fa-arrow-right "></i> As maiores notas na prova de conhecimentos técnicos da área respectiva. O coordenador de cada equipe ficará responsável por elaborar e aplicar a prova técnica.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
